body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

.login {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    flex-flow: column nowrap;
}

.login h2 {
    text-align: center;
    color: #333;
}

.login label {
    margin-top: 10px;
}

.login input {
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.login button {
    padding: 10px;
    background-color: #04cf5c;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}
